<%- include('./partials/head') %>
<header>
  <img src="" alt="">
</header>

<main>
  <h1>Kies 5 dingen die bij jouw bedrijf passen</h1>
  <div id="progress-bar-container">
    <div id="progress-bar"></div>
  </div>

  <% data.forEach(item => { %>
    <div class="con">
    <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="clickable-image">
  </div>
  <% }); %>
  
</main>

<footer>
</footer>

<%- include('./partials/foot') %>



