<%- include('./partials/head') %>
<script src="/script.js"></script>
<header>
</header>

<main>
  <h1>Hello World</h1>
</main>

<footer>
  <p>Copyright &copy; 2017</p>
</footer>

<%- include('./partials/foot') %>